.logos {
  display: flex;
  justify-content: center;
}

#logo {
  display: block;
}

#footer {
  display: flex;
  justify-content: space-around;
}

#title {
  display: flex;
  justify-content: center;
}

#home {
  display: flex;
}

#zoo_areal {
  display: flex;
  flex-direction: row;
  padding: 2%;
  justify-content: center;
  align-items: center;
}


#col {
  display: flex;
  justify-content: center;
  
}

#table {
  padding: 3%;
}

#tickets {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

#cart {
  display: flex;
  justify-content: space-around;
  padding-left: 1%;
}

#button {
  margin-left: 5%;
  width: 90%;
}

#icon{
  display: flex;
  justify-content: right;

}

.fw-bolder {
  font-size: xxx-large;
}

#entrance {
  display: flex;
  justify-content: center;
}

#alien_facts {
  width: 30%;
  margin: 3%;
}

#carousel {
  max-width: 100%;
  height: auto;
  margin: 1%;
}

.location {
  max-width: 100%;
  height: auto;
}

#alien_format {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

#greenm {
  margin-left: 15%;
}

#slitheen {
  margin-left: 10%;
}

#bar_format {

  margin-top: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.font {
  font-size: 0.75vw;

}

footer {
  margin-top: auto;
}

.dsb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}


@media only screen and (max-width: 1341px) {
  #zoo_areal {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 680px) {
  #alien_format {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #alien_facts {
    width: auto;
  }

  .location {
    width: 90%;
  }
}

@media only screen and (max-width: 1303px) {
  .logos {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .logos {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 909px) {
  #tickets {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #entrance {
    display: flex;
    text-align: center;
  }

}


