.logos {
  display: flex;
  align-items: center;
  justify-content: center;
    
}

#logo {
  padding-left: 10%;
display: block;
}

#map {
  padding-left: 80%;
}

#title {
  display: flex;
  justify-content: center;
}

#home {
  display: flex;
}

#zoo_areal {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  justify-content: center;
}


#col {
  display: flex;
  justify-content: center;
  
}

#table {
  width: 65%;
  margin: 3%;

}

#tickets {
  display: flex;
  flex-direction: row;
}

#cart {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}

#button {
  margin-left: 5%;
  width: 90%;
}

#icon{
  display: flex;
  justify-content: right;

}

.fw-bolder {
  font-size: xxx-large;
}

#entrance {
  display: flex;
  justify-content: center;
}

#alien_facts {
  width: 30%;
  margin: 3%;
}

#carousel {
  width: 25%;
  height: 20%;
}

#alien_format {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

#greenm {
  margin-left: 15%;
}

#slitheen {
  margin-left: 10%;
}








